@import "tailwindcss";

:root {
  --background: #030509;
  --foreground: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #030509;
  color: #f3f4f6;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Custom gamer scrollbar (Purple & Blue Theme) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #060913;
}
::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}


